{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/city.css' %}" />

<body class="tiledBackground">
    <div align="center" id="plotsDiv">
        <div class ="emptyPlot" id="plot0"> </div>
        <div class ="emptyPlot" id="plot1"> </div>
        <div class ="emptyPlot" id="plot2"> </div>
        <div class ="emptyPlot" id="plot3"> </div>
        <br>
        <div class ="emptyPlot" id="plot4"> </div>
        <div class ="emptyPlot" id="plot5"> </div>
        <div class ="emptyPlot" id="plot6"> </div>
        <div class ="emptyPlot" id="plot7"> </div>
    </div>
</body>