

html, body {
  margin: 0;
  padding: 0;
}  
.tiledBackground {
  background-image: url("../img/sky.gif");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin: 0px;
}

.emptyPlot {
background-image: url("../img/grasstile.png");
  width:250px;
  height:250px;
  color: white;
  border: 2px solid black;
  background-size: cover;
  display: inline-block;

}

